/* Body styles */
body {
	font-family: Arial, Verdana;
	background-color: #000000;
	color: #FFFFFF;
	margin: 20px 20px 0 20px;
}

/* h1 styles */
h1 {
	font-size: 42px;
	text-align: center;
	padding: 15px;
}

/* h2 styles */
h2 {
	font-size: 30px;
	color: #0D0D0D;
}

/* Paragraph styles */
p {
	font-size: 24px;
	padding: 10px 0 0 10px;
}

/* Image styles */
img {
	width: 250px;
	display: block;
	margin: 0 auto;
	border: 10px dashed #FFFFFF;
}

/* Div styles */
div {
	min-height: 125px;
	padding: 20px;
	border: 3px solid #FFFFFF;
}

/* Introduction class */
.introduction {
	border-radius: 15px;
	margin-top: 15px;
	line-height: 2;
}

/* Red class */
.red {
	background-color: #FF0000;
	text-align: right;
	margin-left: 50px;
	border-width: 0 0 2px 5px;
}

/* Blue class */
.blue {
	background-color: #0000FF;
	text-align: left;
	margin-right: 50px;
	border-width: 2px 5px 0 0;
}

.blue h2,
.blue p {
	color: #C4C4C4;
}

/* Yellow class */
.yellow {
	background-color: #FFFF00;
	text-align: right;
	margin-left: 50px;
	border-width: 0 0 2px 5px;
}

.yellow p {
	color: #707070;
}

/* Green class */
.green {
	background-color: #008500;
	text-align: left;
	margin-right: 50px;
	border-width: 2px 5px 0 0;
}

/* Footer styles */
footer {
	background: linear-gradient(to bottom, #000000 0%, #0000FF 25%, #0066FF 70%, #000000 100%);
	border: 5px solid #FFFFFF;
}

/* Footer paragraph styles */
footer p {
	font-size: 20px;
	text-align: right;
	padding: 15px 15px 15px 0;
}
